.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  position: relative;
}
.videowrapper a {
  cursor: pointer;
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
}
.videowrapper img {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.social-share {
  padding-bottom: 50px;
}
.social-share .b-share_theme_counter .b-share__handle {
  padding: 5px !important;
  width: auto !important;
}
.social-share .b-share__handle a {
  background-color: transparent;
  display: inline-block;
  width: 23px;
  margin-right: 6px;
  vertical-align: middle;
}
.social-share .b-share__handle a:hover {
  opacity: 1;
}
.social-share .b-share__handle a img {
  display: block;
}
.rub {
  margin-left: 5px;
  position: relative;
}
.rub:before {
  content: 'Р';
}
.rub:after {
  content: "–";
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: 0.1em;
  left: -0.1em;
  vertical-align: top;
  line-height: 0em;
}
